* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

html {
  height: 120%;
  margin: 0;
  position: relative;
}

body {
  background-image: url("bg.jpeg");
  height: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.myname {
  margin-top: 5%;
  margin-left: 10px;
  color: white;
}

li {
  font-size: 26px;
  font-weight: bold;
  margin-right: 30px;
  border-bottom: 0;
  transition: border-bottom 0.7s;
  margin-bottom: 0px;
}

li:hover {
  border-bottom: 2px solid white;
}

.content {
  margin: 0;
  padding: 20px;
  background: #130d0a;
  width: 100%;
  height: 130vh;
}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

.layer-bg {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg');
}

.layer-1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png');
  background-position: left bottom;
}

.layer-2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png');
}

.layer-3 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_man.png');
  background-position: left bottom;
}

.layer-4 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png');
}

.layer-overlay {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png');
}

.media {
  position: absolute;
  margin-left: 48%;
  margin-top: 70px;
  margin-bottom: 40px;
  transform: translate(-53%, -50%);
}
